html{
    scroll-behavior: smooth;
  }
  

  body{
    background-color: #ffffff;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
  }
  /*Makes the skip to main permanent on the page and then hides it off screen when not in focus*/

  .skip a {
    position: absolute;
    top: -40px;
  }

  .skip a:focus {
    top: 20px;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  :focus {
    border: 2px solid black;
  }

  h1{
    grid-column: span 2;
    font-size: 40px;
    line-height: 1;
    padding: 0px 0 ;
    text-align: center;
    color: black;

  }


  
/*adds a grid to the main section of the page
  main {
    display: grid;
    grid-template-columns: 1fr
    grid-gap: 20px;

  }

  .container {
    max-width: 90%;
    padding: 0 20px;
  } */
   /*adds a grid to the main section of the page. The grid is two equal columns*/
  main {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-gap: 10px;
    padding: 0 20px;
}

/*formats the header of the page which is named .intro. this includes h1, text, and the list*/
h1{
    grid-column: span 2;
    font-size: 40px;
    line-height: 1;
    padding: 0px 0 ;
    text-align: center;
    color: black;
}
.intro {
    grid-column: span 2;
    text-align: center;
}
.intro ul {
    text-align: center;  /* Aligns the ordered list to the left */
    margin: 0 auto;    /* Optionally centers the list horizontally */
    list-style-type: square;
    padding-left: 40px;
   
}
.intro ul li {
    margin-bottom: 10px;
    list-style-position: inside;
    font-weight: bold;

}


/*this is the header, text, images and eventually the nav bar*/
    header {
    background-color: #00274C;
    color: white;
    text-align: center;
    }
    
    header img {
        display: block;        /* Makes the image a block element */
        margin: 0 auto;        /* Centers the image horizontally */
        max-width: 100%;       /* Ensures the image is responsive */
        height: auto;          /* Maintains the aspect ratio */
    }
/*formatting the nav bar*/
    nav {
        background-color: #FFCB05;
        padding: 10px;
        text-align: center;
        text-decoration: none;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        display: inline;
        margin-right: 10px;
    }
    nav a {
        color: #00274C;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }
      /*removes the underline from the nav bar*/
    nav a:link{
        color:black;
        text-decoration: none;
    }
    /*adds a hover effect to the nav bar*/
    nav a:hover {
        text-decoration: underline;
    }
    ul li.active a{
         /* Example: blue background for active item */
        color: #9A3324; /* White text */
        font-weight: bold; /* Bold text */
        border-radius: 5px; /* Rounded corners */
    
    }
    
 
    /*formatting the article*/
    #umsi-logo {
        height: auto;
        max-width: 30%;
        text-align: center;

    }
   
    img {
        max-width: 100%;  /* Makes the image responsive */
        height: auto;     /* Maintain aspect ratio */
/*         display: block;   /* Avoid inline spacing issues */ */
        align-self: center;
    }

    article {
        background-color: #f9f9f9; 
        padding: 10px;
        margin: px 0;
        border: #FFCB05 2px solid;
    }

    .custom-article {
        background-color: #f9f9f9; 
        padding: 10px;
        margin: 20px 0;
        border: #FFCB05 2px dotted;
    }
    
    figcaption {
        font-style: italic;
        text-align: left;
        font-size: small;

    }
    h3.page-2 {
        text-align: center;
    }

 ul.page-2 {
    text-align: center;  /* Aligns the ordered list to the left */
    margin: 0 auto;    /* Optionally centers the list horizontally */
    list-style-type: square;
    list-style-position: inside;
 }
 
    /*formatting the footer*/
    footer {
    
        background-color: #00274C;
        color: white;
        padding: 10px;
        text-align: center;
    }
    .footer-content {
        display: flex;
        justify-content: space-between;
       
    }
    .footer-text {
        text-align: right;
        flex: 1;
    ;
    }
    .footer-text p {
        margin: 5px 0;
    }
    /*formatting the image in the footer*/
    #umsi-logo {
        height: auto;
        width: 100px;
        align-self: right;
        
    }
/*formatting the links in the footer*/
    footer a {
        color: #FFCB05;
        font-weight: bold;
    }
    footer a:hover {
        color: #FFFFFF; 
        text-decoration: underline;
    }
/*Media Query for the desktop view*/
    @media only screen and (min-width: 1000px){
        main{
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1800px;
            padding: 50px;
            grid-gap: 20px;
            padding: 0 20px;
        }

        h1{
            grid-column: span 3;
        }
        .intro{
            grid-column: span 3;
        }
        h3{
            background-color: #FFCB05;
            padding: 10px;
            border-radius: 5px;
            height: auto;
        }

    }
/* Dark Mode */
body.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
}
body.dark-mode header {
    background-color: #2c2c2c;
    color: #f5f5f5;
}
body.dark-mode footer {
    background-color: #2c2c2c;
    color: #f5f5f5;
}
/* Formates Dark Mode for text with borders "articles" */
body.dark-mode article {
    background-color: #333333; 
}
body.dark-mode h3 {
    background-color: #121E3A;
}
/* Links in darkmode */
a {
    color: #007bff;
}

body.dark-mode a {
    color: #003366
}
/* Slows the transition from lightmode to darkmode */
body, header, footer {
    transition: background-color 0.3s ease, color 0.3s ease;
}

